<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90680653-2');
    </script>

    {% block title %}

    <title>test</title>
 {%  endblock %}


    {% block stylesheet %}

    {% include 'admin/inc/stylesheet.html.twig' %}

 {%  endblock %}
 {% block meta %}

 {% include 'admin/inc/meta.html.twig' %}

{%  endblock %}


    
  </head>
  <body>

    {% block header %}

    {% include 'admin/inc/header.html.twig' %}
   
   {%  endblock %}

  
   {% block content %}

  
  {%  endblock %}
  {% block footer %}

    {% include 'admin/inc/footer.html.twig' %}
   
   {%  endblock %}


   
   {% block script %}

   {% include 'admin/inc/script.html.twig' %}
  
  {%  endblock %}

  </body>
</html>
