{# templates/forgot_password/emailverif.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Email Verification{% endblock %}

{% block body %}
    <section class="contact py-5">
        <div class="container py-lg-5 py-sm-3">
            <h2 class="heading text-capitalize text-center mb-sm-5 mb-4">Email Verification</h2>
            <div class="row justify-content-center"> <!-- Center the form -->
                <div class="col-lg-6 col-md-6 contact-left-form">
                    {{ form_start(form1) }}

                    <div class="form-group contact-forms">
                        {{ form_row(form1.email, {'attr': {'class': 'form-control', 'style': 'width: 100%;'}}) }}
                    </div>

                    <div class="form-group contact-forms">
                        {{ form_row(form1.Send, {'attr': {'class': 'btn btn-block sent-butnn'}}) }}
                    </div>

                    {{ form_end(form1) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
