{# templates/forgot_password/codeverif.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Code Verification{% endblock %}

{% block body %}
    <section class="contact py-5">
        <div class="container py-lg-5 py-sm-3">
            <h2 class="heading text-capitalize text-center mb-sm-5 mb-4">Code Verification</h2>
            <div class="row justify-content-center"> <!-- Center the form -->
                <div class="col-lg-6 col-md-6 contact-left-form">

                    {# Add a style attribute to adjust the margin or padding #}
                    {{ form_start(form1, {'attr': {'style': 'margin-top: 10px;'}}) }}

                    {# Increase the size of the code input field #}
                    <div class="form-group contact-forms">
                        {{ form_row(form1.Code, {'attr': {'class': 'form-control', 'style': 'font-size: 18px;'}}) }}
                    </div>

                    {# Color the button as an example (change the color based on your preference) #}
                    <div class="form-group contact-forms">
                        {{ form_row(form1.Send, {'attr': {'class': 'btn btn-primary btn-block', 'style': 'font-size: 18px;'}}) }}
                    </div>

                    {{ form_end(form1) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
