<div class="az-header">
    <div class="container">
      <div class="az-header-left">
        <a href="index.html" class="az-logo"><span></span> Epicourneys</a>
    
      </div><!-- az-header-left -->
      <div class="az-header-menu">
        <div class="az-header-menu-header">
          <a href="index.html" class="az-logo"><span></span> azia</a>
          <a href="" class="close">&times;</a>
        </div><!-- az-header-menu-header -->
        <ul class="nav">
          <li class="nav-item">
            <a href="{{ path('addevent') }}"  class="nav-link"></i> user generate</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('addevent') }}" class="nav-link"></i> events generate</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link with-sub"><i class="typcn typcn-document"></i> services</a>
            <nav class="az-menu-sub">
              <a href="page-signin.html" class="nav-link">reclamation</a>
              <a href="page-signup.html" class="nav-link">demende</a>
            </nav>
          </li>
          <li class="nav-item">
            <a href="chart-chartjs.html" class="nav-link"></i> sponsor generate</a>
          </li>
          
          <li class="nav-item">
            <a href="{{ path('app_static') }}" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i> static </a>
          </li>
          <li class="nav-item">
            <a href="form-elements.html" class="nav-link"></i> products generate</a>
          </li>
          <li class="nav-item">
            <a href="form-elements.html" class="nav-link"></i> carte fidelite </a>
          </li>
          <li class="nav-item">
            <a href="form-elements.html" class="nav-link"></i> special events </a>
          </li>
         
        </ul>
      </div><!-- az-header-menu -->
      <div class="az-header-right">
        
      
        
        <div class="dropdown az-profile-menu">
          <a href="" class="az-img-user"><img src="../img/faces/face1.jpg" alt=""></a>
          <div class="dropdown-menu">
            
            

            <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
            <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
            <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
            <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
            <a href="{{ path('app_default') }}"></i> Sign Out</a>
          </div><!-- dropdown-menu -->
        </div>
      </div><!-- az-header-right -->
    </div><!-- container -->
  </div><!-- az-header -->