{# templates/avis/badword_error.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Erreur: Avis non autorisé{% endblock %}

{% block body %}
    <h1>Erreur: Avis non autorisé</h1>
    <p>Votre avis contient des mots interdits. Veuillez modifier votre commentaire.</p>
    <p><a href="javascript:history.back()">Retour à la page précédente</a></p>
{% endblock %}
