{% extends 'base.html.twig' %}

{% block title %}New Avis
{% endblock %}

{% block body %}
	<!-- Contact -->
	<section class="contact py-5">
		<div class="container py-lg-5 py-sm-3">
			<h2 class="heading text-capitalize text-center mb-sm-5 mb-4">
				Add New Review</h2>


			<div class="contact-grids mt-5 ">
				<div class="row">
					<div class="col-lg-12 col-md-8 contact-left-form">
						{{ include('avis/_form.html.twig') }}
					</div>

				</div>
			</div>

		</div>
	</section>
	<!-- //Contact -->


{% endblock %}
