{# your_template.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

<style>
#amira {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#amira p {
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

#amira a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#amira a:hover {
    background-color: #2078b4;
}
</style>
<div id="amira">
{% for details in commandeDetails %}
      {% if details.Comfirmed != 1 %}
    <p>ID: {{ details.id }}, User ID: {{ details.userId }}, Quantity: {{ details.quantity }}</p>
    <td><a href="{{ path('app_commande_confirm', {'id': details.id}) }}">Confirm</a></td>
        {% endif %}

        {% endfor %}
</div>
{% endblock %}



